:root {
  --logout-font-size-title: 1.5rem;
  --logout-margin-bottom-title: 2rem;
  --logout-font-size-button: 1rem;
  --logout-padding-button: 0.5rem 1rem;
  --logout-button-bg-color: #ad0000;
  --logout-button-text-color: #fff;
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__title {
    font-size: var(--logout-font-size-title);
    margin-bottom: var(--logout-margin-bottom-title);
  }

  &__button {
    margin-top: 1rem;
    padding: var(--logout-padding-button);
    font-size: var(--logout-font-size-button);
    background-color: var(--logout-button-bg-color);
    color: var(--logout-button-text-color);
    border: none;
  }
}

@media (max-width: 768px) {
  .logout__title {
    font-size: 14px;
  }
}
